@model FantasyFL.Web.ViewModels.Users.UserPageViewModel

@{
    ViewData["title"] = "My Team";
}

<div class="row pt-4">
    <div class="overflow-auto col-md-9">
        <h4 class="pb-3">Players</h4>
        <table id="playersTable" class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th class="text-center" scope="col">Position</th>
                    <th class="text-center" scope="col">Club</th>
                    <th class="text-center" scope="col">In Start XI</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Team.FantasyTeamPlayers.OrderBy(p => p.Position))
                {
                    <tr class="clickable" onclick="location.href = '/User/PlayerStats/@player.PlayerId'">
                        <td>@player.Name</td>
                        <td class="text-center">@player.Position.ToString()</td>
                        <td class="text-center">@player.Team</td>
                        <td class="text-center">
                            <span class="badge badge-pill
                                badge-@(player.IsPlaying ? "success" : "danger")">
                                @(player.IsPlaying ? "Yes" : "No")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="overflow-auto col-md-3 pl-5 pt-3">
        <h4>@Model.Team.Name</h4>
        <h5>Total Points: @Model.Team.TotalPoints</h5>

        <div>
            <p class="h5 pt-4">Leagues:</p>

            <ul>
                @foreach (var league in Model.Leagues)
                {
                    <li>
                        <a asp-area=""
                       asp-controller="Leagues"
                       asp-action="Standings"
                       asp-route-id="@league.Id">
                            @league.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
        @*<img class="text-center" src="/images/a-group-logo.jpg" />*@
    </div>
</div>

<textarea id="error-message" hidden>@ViewData["message"]</textarea>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/alerts.js"></script>
}