@using FantasyFL.Web.ViewModels.PlayersManagement
@using FantasyFL.Data.Models.Enums
@model PickPlayersFormModel

@{
    ViewData["Title"] = "Pick Goalkeepers";
}

<h5 class="pb-3 text-success">@ViewData["Title"]</h5>

<div class="row">
    <div class="overflow-auto col-md-6 rel-view">
        <table id="playersTable" class="table table-hover">
            <tbody>
                @foreach (var player in Model.Players.Where(p => p.Position == Position.Goalkeeper))
                {
                    <tr class="clickable">
                        <td class="text-center font-weight-bold playerName">@player.Name</td>
                        <td class="text-center">@player.Team</td>
                        <td class="text-center playerId" hidden>@player.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6 rel-view">
        <form asp-controller="PlayersManagement" asp-action="PickDefenders" id="pickPlayersForm" class="form-inline pl-5" method="post">
            <h4 class="mb-3">Goalkeepers</h4>
            <hr />
            <div class="row">
                @for (int i = 0; i < 2; i++)
                {
                    <div class="form-group mb-4 playerName">
                        <label asp-for="Goalkeepers[i].Name">Goalkeeper @(i + 1): </label>
                        <input asp-for="Goalkeepers[i].Name" class="form-control ml-2" readonly />                         
                        <div class="input-group-append">
                            <button class="btn btn-danger ml-2 remove-player" type="button">X</button>
                        </div>
                        <span asp-validation-for="Goalkeepers[i].Name" class="text-danger pl-3"></span>
                    </div>

                    <div class="form-group playerId" hidden>
                        <label asp-for="Goalkeepers[i].Id"></label>
                        <input asp-for="Goalkeepers[i].Id" class="form-control" />
                    </div>
                }
            </div>

            @for (int i = 0; i < 5; i++)
            {
                <div class="form-group" hidden>
                    <label asp-for="Defenders[i].Name"></label>
                    <input asp-for="Defenders[i].Name" class="form-control" />
                </div>

                <div class="form-group" hidden>
                    <label asp-for="Defenders[i].Id"></label>
                    <input asp-for="Defenders[i].Id" class="form-control" />
                </div>
            }

            @for (int i = 0; i < 5; i++)
            {
                <div class="form-group" hidden>
                    <label asp-for="Midfielders[i].Name"></label>
                    <input asp-for="Midfielders[i].Name" class="form-control" />
                </div>

                <div class="form-group" hidden>
                    <label asp-for="Midfielders[i].Id"></label>
                    <input asp-for="Midfielders[i].Id" class="form-control" />
                </div>
            }

            @for (int i = 0; i < 3; i++)
            {
                <div class="form-group" hidden>
                    <label asp-for="Attackers[i].Name"></label>
                    <input asp-for="Attackers[i].Name" class="form-control" />
                </div>

                <div class="form-group" hidden>
                    <label asp-for="Attackers[i].Id"></label>
                    <input asp-for="Attackers[i].Id" class="form-control" />
                </div>
            }

            <div class="form-group row">
                <button type="submit" class="btn btn-success">Select Goalkeepers</button>
            </div>
        </form>
    </div>
</div>

<textarea id="error-message" hidden>@ViewData["alertMessage"]</textarea>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/pickPlayers.js"></script>
    <script src="~/js/alerts.js"></script>
}
