@using FantasyFL.Web.ViewModels.Leagues
@model StandingsViewModel

@{
    ViewData["title"] = Model.Name;
}

<div class="row pt-4">
    <div class="overflow-auto col-md-8 rel-view">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fantasy Team</th>
                    <th scope="col">user</th>
                    <th class="text-center" scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.ApplicationUsers.OrderByDescending(x => x.TotalPoints))
                {
                    <tr>
                        <td class="font-weight-bold" >@user.FantasyTeamName</td>
                        <td>@user.UserName</td>
                        <td class="text-center font-weight-bold">@user.TotalPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="overflow-auto col-md-4 pl-5 pt-3">
        <p class="h4">Fantasy League: <span class="font-weight-bold">@Model.Name</span></p>
        <p class="mt-3 font-italic">Participants: @Model.Participants</p>
    </div>
</div>