@using FantasyFL.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous"> 
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/lazy.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/specer-style.css">
</head>
<body>
    <!-- Page Preloder -->
@*    <div id="preloder">
        <div class="loader"></div>
    </div>*@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>

                <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-1">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav ml-auto">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#a" id="fantasyDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                    Fantasy Team
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Fantasy" asp-action="MyTeam">MyTeam</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Fantasy" asp-action="PickTeam">Pick Players</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Fantasy" asp-action="Transfers">Transfers</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Teams" asp-action="All">Teams</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#a" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Fixtures
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Fixtures" asp-action="Current">Results</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Fixtures" asp-action="Next">Upcoming</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3 pt-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer-section text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>  
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js"></script>
@*    <script src="~/lib/specer-master/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/lib/specer-master/main.js" asp-append-version="true"></script>*@
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/lazy.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
