@using FantasyFL.Web.ViewModels.Fantasy
@model TeamSelectViewModel

@{
    ViewData["title"] = "Pick Team";
}

<div class="row">
    <div class="form-group overflow-auto col-md-6 rel-view">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-controller="Fantasy" asp-action="PickTeam" method="post">
            <div class="custom-control custom-checkbox my-2">
                <label>Select Goalkeeper</label>
                <ul class="list-unstyled">
                    @for (var i = 0; i < Model.Goalkeepers.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.Goalkeepers[i].Selected" class="custom-control-input goalkeeper">
                            <label asp-for="@Model.Goalkeepers[i].Selected" class="custom-control-label">@Model.Goalkeepers[i].Name</label>
                            <input type="hidden" asp-for="@Model.Goalkeepers[i].PlayerId" />
                            <input type="hidden" asp-for="@Model.Goalkeepers[i].Name" />
                        </li>
                    }
                </ul>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <label>Select Defenders</label>
                <ul class="list-unstyled">
                    @for (var i = 0; i < Model.Defenders.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.Defenders[i].Selected" class="custom-control-input defender">
                            <label asp-for="@Model.Defenders[i].Selected" class="custom-control-label">@Model.Defenders[i].Name</label>
                            <input type="hidden" asp-for="@Model.Defenders[i].PlayerId" />
                            <input type="hidden" asp-for="@Model.Defenders[i].Name" />
                        </li>
                    }
                </ul>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <label>Select Midfielders</label>
                <ul class="list-unstyled">
                    @for (var i = 0; i < Model.Midfielders.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.Midfielders[i].Selected" class="custom-control-input midfielder">
                            <label asp-for="@Model.Midfielders[i].Selected" class="custom-control-label">@Model.Midfielders[i].Name</label>
                            <input type="hidden" asp-for="@Model.Midfielders[i].PlayerId" />
                            <input type="hidden" asp-for="@Model.Midfielders[i].Name" />
                        </li>
                    }
                </ul>
            </div>

            <div class="custom-control custom-checkbox my-2">
                <label>Select Attackers</label>
                <ul class="list-unstyled">
                    @for (var i = 0; i < Model.Attackers.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.Attackers[i].Selected" class="custom-control-input attacker">
                            <label asp-for="@Model.Attackers[i].Selected" class="custom-control-label">@Model.Attackers[i].Name</label>
                            <input type="hidden" asp-for="@Model.Attackers[i].PlayerId" />
                            <input type="hidden" asp-for="@Model.Attackers[i].Name" />
                        </li>
                    }
                </ul>
            </div>
            <button type="submit" class="btn btn-dark mt-3">Submit</button>
        </form>
    </div>

    <div class="overflow-auto col-md-6 rel-view formation container-fluid">
        <h4 class="text-center pt-3 text-light">
            Formation:
            <span id="selected-def">0</span>-<span id="selected-mid">0</span>-<span id="selected-att">0</span>
        </h4>
    </div>
</div>

@section Scripts{
    <script src="~/js/selectStartTeam.js"></script>
}